@charset "utf-8";

body {
  background-color: #e2e2e2cc;
}

p {
    font-size: 20px;
    color: #000000;
}

p.hosoku{
    font-size: 15px;
    color: #414141;
}

p.error{
    font-size: 15px;
    color: #750505;
}